<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>About you</h1>
<p>Name: {{object.name}}</p>
<p>Email: {{ object.email }}</p>

<h1>About Your Company</h1>
<p>Established Year: {{object.establish_year}}</p>
<p>Founder: {{ object.founder }}</p>
<p>Chief Executive Officer: {{ object.ceo }}</p>

<h1>Finishing Up</h1>
<p>Client Type: {{object.type}}</p>
<p>System type: {{object.sys_type}}</p>
<p>Project Name: {{object.project_name}}</p>
<p>Parameter 1: {{object.system_parameter_one}}</p>
<p>Parameter 2: {{ object.system_parameter_two }}</p>

</body>
</html>